name: 'build'

on:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latests

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Build
        uses: docker/bake-action@v2
        with:
          push: false

